.wrapper {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.sectionBody {
  padding: 150px 0;
  color: #ffffff;
}

.header {
  font-size: 90px;
}

.description {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.7);
  max-width: 900px;
  padding-top: 25px;
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 40px;
    text-align: center;
  }

  .description {
    font-size: 20px;
    text-align: center;
  }

  .sectionBody {
    padding: 64px 0;
  }
}
