.wrapper {
  min-height: 500px;
  background-color: white;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  cursor: pointer;
  position: relative;
}

.videoBackground {
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  /* opacity: 0.6; */
}

.playIconContainer {
  position: absolute;
  top: 75%;
  left: 10%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.chatButton {
  background-color: #dbff00;
  color: #000000;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
  line-height: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.chatButton p {
  padding-left: 5px;
}

@media only screen and (max-width: 800px) {
  .wrapper {
    min-height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .videoBackground {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .playIconContainer {
    bottom: -20px;
    left: 50%;
  }

  .chatButton {
    padding: 5px 15px;
    font-size: 14px;
  }
}
