.wrapper {
  background-color: #ff4829;
  color: #000000;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  position: relative;
  bottom: 320px;
  padding: 0 20px;
}

.sectionBody {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
  padding: 150px 0;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.header {
  font-size: 60px;
  max-width: 580px;
  padding-bottom: 60px;
  color: #ffffff;
}

.description {
  font-size: 20px;
  max-width: 900px;
  padding-top: 25px;
}

.chatButton a {
  background-color: #dbff00;
  color: #000000;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
  line-height: 32px;
  font-weight: bold;
  border: 1px solid #000000;
}

.chatButton a:hover {
  border: 1px solid #dbff00;
  background-color: #000000;
  color: white;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    position: relative;
    bottom: 320px;
    padding: 0 20px;
  }

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
  }

  .sectionBody {
    padding: 80px 0 100px;
  }

  .header {
    font-size: 32px;
    text-align: center;
    padding-top: 20px;
  }

  .chatButton {
    text-align: center;
  }
}
