.wrapper {
  height: 1600px;
  overflow-x: hidden;
  background-color: #0f0d0b;
  color: #ffffff;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  position: relative;
  bottom: 240px;
  padding: 0 20px;
}

.horizontalScroll {
  position: absolute;
  left: 0;
  top: 200px;
  display: flex;
  gap: 20px;
}

.text {
  font-size: 60px;
  font-weight: bold;
  color: #000000;
}

.card {
  /* height: 125px; */
  width: max-content;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.headerContainer {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  font-size: 64px;
  padding-top: 100px;
}

.layerContainer {
  transform: rotate(4deg);
}

@media only screen and (max-width: 800px) {
  .wrapper {
    height: 1400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    bottom: 132px;
    padding: 0 20px;
  }

  .header {
    font-size: 32px;
    text-align: center;
    padding-top: 72px;
  }

  .layerContainer {
    position: relative;
    bottom: 102px;
  }
}
