.main {
  min-height: 100vh;
  width: 100vw;
  background-color: #000000;
}

.stickyHeroSection {
  position: relative;
  position: sticky;
  top: 80px;
  background-color: #000000;
  z-index: 10;
}

.otherSections {
  position: relative;
  z-index: 20;
  bottom: 100px;
}
